<label>Server name</label>
<!-- <input 
  type="text"
  class="form-control"
  (input)="onUpdateName($event)"> -->

<input 
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<hr>
<!-- <p>{{ serverName }}</p> -->
<hr>
<button 
  class="btn btn-primary"
  [disabled]="!allowNewServe"
  (click)="onCreateServer()">Add Server</button>
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer"> Serve was created, serve name is: {{ serverName }}</p>
<ng-template #noServer>
  <p>No server created!</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>

<button 
  class="btn btn-warning"
  (click)="onDisplayDetails()">
  Display Details
</button>

<p *ngIf="show">Show or Hide</p>

<div 
  *ngFor="let log of logs; let i = index"
  [ngStyle]="{backgroundColor: getBColor(i)}"
  [ngClass]="{test: i > 4}">
  {{ log }}
</div>